
body {
    font-family: Arial, sans-serif;
    margin-right: 15%;
    margin-left: 15%;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 25%;
}

.hero {
    display: flex;
    text-align: center;
}

.hero div {
    flex: 1;
}

.nav_links {
    display: flex;
    justify-content: right;
    gap: 20px;
    padding: 10px;
    list-style-type: none;
}

.about_me {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.skills ul{
    display: flex;
    list-style-type: none;
    gap: 5%;
}

.headshot {
    width: 200px;
    height: auto;
    border-radius: 50%;
}