
body {
    color: ivory;
    font-family: Arial, sans-serif;
    margin-right: 15%;
    margin-left: 15%;
    padding: 0;
    background-color: #2E3033;
}

section {
    margin-bottom: 5%;
    margin-top: 5%;
}

h2 {
    color: #1ed7e4;
}

.header {
    display: flex;
    text-align: center;
    margin: 0;
}
.header div {
    display: flex;
    flex: 1;
}

.hero {
    display: flex;
    align-items: center;
}

.hero div {
    flex: 1;
}
.hero ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 10%;
}
.hero ul li {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #1ed7e4;
}

.headshot {
    width: 90%;
    height: auto;
    border-radius: 50%;
}

.nav_links {
    display: flex;
    justify-content: right;
    gap: 20px;
    padding: 10px;
    list-style-type: none;
}

.about_me {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.skills ul{
    display: flex;
    list-style-type: none;
    gap: 5%;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    list-style-type: none;
}
.project-list li {
    flex: 1 1 calc(33.333% - 10px);
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.project-list li video {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.project-list li .technologies {
    display: flex;
    gap: 5%;
    margin-bottom: 5%; 
}
.project-list li .links {
    margin: 5px;    
}
.project-list li .links a {
    margin: 5px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #1ed7e4;
}

.contact_form {
    display: flex;
    gap: 10px;
}
.contact_form form {
    display: flex;
    flex-direction: column;
}
.contact_form h4 {
    flex: 1;
}
.contact_form div {
    flex: 1;
}